[Desktop Entry]
# This is a development .desktop file, no version is specified.
Terminal=false
Type=Application
Name=Thriftshop App
StartupWMClass=Quatrokantos
Comment=Offline First Site Manager for any Cloud Services like Netlify, Vervel, AWS etc.
Exec=quatrokantos %F
Icon=${SNAP}/meta/gui/app.png
Categories=Utility;